* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(211, 234, 255);
}

h1 {
    color: red;
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

#grid-container {
    background-color: rgb(168, 158, 158);
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    cursor: crosshair;
}

.square-div {
    background-color: white;
    border: 1px solid black;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

button {
    padding: 8px 12px;
    border: 2px solid black;
    font-size: 16px;
    cursor: grab;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.rainbow {
    background-color: yellow;
    color: black;
}

.reset {
    background-color: orange;
    color: white;
}

.elegir {
    background-color: red;
    color: white;
}

input {
    height: 40px;
    width: 40px;
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

#sizeSlider {
    width: 250px;
}

#sizeValue {
    font-size: 20px;
}

#bordes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}